@{
    ViewBag.Title = "LoginIndex";
}
<!DOCTYPE html>
<html>
<head>
    <title>Pakhi an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Signin :: w3layouts</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- dropdown -->
    <script src="js/jquery.easydropdown.js"></script>
    <script type="text/javascript" src="js/hover_pack.js"></script>
</head>
<body>
<section id="main">
    
        <div class="container">
            <div class="container-fluid">
                <div class="login-signup-form">
                    <div class="col-md-5  login text-center">
                        <h4>Logowanie</h4>
                    
                       
                        <div class="cus_info_wrap">
                            <label class="labelTop">
                                Email:
                                <span class="require">*</span>
                            </label>
                            <input type="text" value="">
                        </div>
                        <div class="clearfix"></div>
                        <div class="cus_info_wrap">
                            <label class="labelTop">
                                Hasło:
                                <span class="require">*</span>
                            </label>
                            <input type="password" value="">
                        </div>
                        <div class="clearfix"></div>
                        <div class="botton1">
                            <input type="submit" value="Zaloguj" class="botton">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-5  sign-up text-center">
                        <h4>Rejestracja</h4>
                        <div class="cus_info_wrap">
                            <label class="labelTop">
                                Email Id:
                                <span class="require">*</span>
                            </label>
                            <input type="text" value="">
                        </div>
                        <div class="clearfix"></div>
                        <div class="cus_info_wrap">
                            <label class="labelTop">
                                Hasło:
                                <span class="require">*</span>
                            </label>
                            <input type="password" value="">
                        </div>
                        <div class="clearfix"></div><div class="cus_info_wrap">
                            <label class="labelTop confirmpass">
                                Potwierdź Hasło:
                                <span class="require">*</span>
                            </label>
                            <input type="password" value="">
                        </div>
                        <div class="botton1">
                            <input type="submit" value="Zarejestruj" class="botton">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
</section>
</body>
</html>

