/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.top-header{
	padding:2em 0;
	background:#1c242b;
	border-bottom:1px solid #565f64; 
}
.header-top-right {
	float:right;
}
.top-header2{
    height: 50px;
}
.container2{
    height: inherit;
    margin-top: -60px;
}
i.cart {
	width: 45px;
	height: 45px;
	background: url("/Content/images/img-sprite.png") no-repeat -3px -3px #454B50;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	display:inline-block;
}
.logo {
	float:left;
	width:14%;
	margin-top: 8px;
}
/*--start-search--*/
.sb-search {
	width: 0%;
	position: absolute;
	right: 150px;
	top: 28px;
	min-width: 45px;
	height: 45px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	outline: none;
	background: #454B50;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	width: 95%;
	height: 45px;
	margin: 0;
	z-index: 10;
	padding: 5px 15px;
	font-size: 15px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width: 45px;
	height: 45px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 71px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff url('/Content/images/search.png') no-repeat 9px 11px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	-webkit-appearance: none;
}
.sb-icon-search {
    background:#454B50 url('/Content/images/search.png') no-repeat 9px 11px;
	z-index: 90;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:18%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: #c0c0c0 url('/Content/images/search.png') no-repeat -20px 7px;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
i.shipping {
	width: 60px;
	height: 60px;
	background: url('/Content/images/img-sprite.png') no-repeat -3px -3px;
	displaY: inline-block;
	margin-bottom:8px;
}
.sign-up1 a {
	color: #ccd1d9;
	font-size: 1.2em;
	text-decoration:none;
	letter-spacing: 1px;
	font-weight: 600;
	background: #3698c6;
	padding: 10px 25px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}
.sign-up1 a:hover {
	background: #2A576C;
}
.sign-up1 {
    margin-right:60px;
	width: 100%;
	float: right;
}
.signing {
	margin: 3em 0;
}
.footer {
	padding:2.5em 0;
	position:relative;
	border-top:dotted;
}
.footer-social-icons {
   text-align: center;
   float: left;
}
.footer-social-icons i {
	width:50px;
	height:50px;
	background : url('/Content/images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
}
i.fb {
	background-position: -60px -100px;
}
i.fb:hover {
	background-position: -60px -150px;
}
i.tw {
	background-position: -110px -100px; /*ustawia pozycje poszczegolnych ikonek, kazda ikonka jest polozona nad zdjeciu inaczej dlatego rozne wartosci*/
}
i.tw:hover {
	background-position: -110px -150px;
}
i.in {
	background-position: -160px -100px;
}
i.in:hover {
	background-position: -160px -150px;
}
.font-footer {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.googleplay {
    text-align: center;
}
#contact {
    float: right;
    font-size: 12px;
    text-align:center;
}






